{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}

    <h1>Connexion</h1>

    <form method="post" id="formC">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <table id="tableConnexion">
            <tr>
                <td><label class="pageCon" for="inputEmail">Email</label></td>
                <td><input class="pageCon" type="email" value="{{ last_username }}" name="email" placeholder="Email" required autofocus></td>
            </tr>
            <tr>
                <td><label class="pageCon" for="inputPassword">Password</label></td>
                <td><input class="pageCon" type="password" name="password" placeholder="Password" required><br></td>
            </tr>
        </table>

        <input class="pageCon" type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <button class="pageCon" type="submit">Connexion</button>
    </form>
    <button class="CreerProfilBtn"><a href="{{ path('create_profil') }}">Créer un Profil</a></button>
{% endblock %}
