{% extends 'base.html.twig' %}

{% block title %}Mon Réseau Social{% endblock %}

{% block body %}
    <h1>MRS</h1>
    <button><a class="logbtn" href="{{ path('app_login') }}">connection</a></button>
    <button><a class="logbtn" href="{{ path('create_profil') }}">s'inscrire</a></button>
{% endblock %}
