{% extends 'base.html.twig' %}

{% block title %}Profil Creator{% endblock %}

{% block body %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button>Envoyer</button>
    {{ form_end(form) }}
{% endblock %}