{% extends 'base.html.twig' %}

{% block title %}Profil Creator{% endblock %}

{% block body %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button>Save</button>
    {{ form_end(form) }}
    <button><a class="text-muted" href="{{ path('user') }}">Retour</a></button>
{% endblock %}